{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center; color: blue; margin-top: 10px">What is a programming language?</h1>
    <hr>
    <h2 style="margin: 10px; color: green;">A programming language is a formal language that is designed to communicate instructions to a computer. It is used to create computer programs, which are sets of instructions that perform specific tasks or solve problems. Programming languages enable developers to write code and develop software applications, websites, games, and other digital solutions.</h2><br>
    <h2 style="margin: 10px; color: yellow;">Programming languages have a specific syntax and set of rules that dictate how instructions are written. They provide control structures, data types, variables, functions, and libraries that help developers organize and manipulate data, perform calculations, and control the flow of execution.</h2><br>
    <h2 style="margin: 10px; color: red;">There are numerous programming languages available, each serving different purposes and having its own strengths and weaknesses. Examples of popular programming languages include Python, JavaScript, Java, C++, and Ruby. Each language is designed with different features and characteristics that make it suitable for specific types of applications and tasks.</h2>
{% endblock %}